* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #181818;
    --background-card: #121212;
    --white: #fff;
    --green: #2DCC70;
    --red: #FF3F3F;
    --gray: #A0A8B1;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #111111;
    overflow: hidden;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 14px;
}

.icons {
    color: var(--gray);
    font-size: 20px;
}

.greenIcon {
    font-size: 20px;
    color: var(--green);
}










